
body{
    padding: 10px;
}

.container-box{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: 50px 100px 150px;
    grid-template-areas: 'a b c c'
                         'a b c c'
                         'a b c c'
                         'a b c c'
                         'a b c c'
                         'a b c c'
                         'a b c c'
                         'a d d e'
                         'a d d e'
                         'f f f e';
}
.container-box img{
    border-radius: 10px;
}

.box{
    background-color: #FF8C00;
    border-radius: 5px;
    text-align: center;
}

.a{
    grid-area: a;
    text-align: center;

    width: 400px;

}

.b{
    grid-area: b;
    height: 450px;
    width: 400px;
}

.c{
    grid-area: c;
    height: 450px;
    width: 400px;

}

.d{
    grid-area: d;
}

.e{
    grid-area: e;
    height: 980px;
}

.f{
    grid-area: f;
    align-items: center;
}
